<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">

<div layout:fragment="content" class="container">
    <div class="container px-5 py-5">
        <h2 class="text-center" th:if="${'empty.cart' == error_message}">장바구니가 비었습니다.</h2>

        <form th:if="${error_message == null}" th:action="@{/cart/list}" method="post" name="buyForm">
            <table class="table table-bordered table-responsive-sm">

                <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width:8%">선택</th>
                    <th scope="col">이미지</th>
                    <th scope="col">이름</th>
                    <th scope="col">가격</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="orderItem:${cartList}">
                    <td class="text-center align-middle">
                        <input type="checkbox" id="customCheck1" name="item_id" th:value="${orderItem.id}">
                    </td>
                    <td class="align-middle text-center" th:onclick="itemDetail([[${orderItem.item.id}]])"><img
                            th:src="${orderItem.item.imageUrl}" style="width: 50px;"></td>
                    <td class="align-middle" th:text="${orderItem.item.name}"
                        th:onclick="itemDetail([[${orderItem.item.id}]])"></td>
                    <td class="align-middle">
                        <span class="lead" th:text="${#numbers.formatInteger(orderItem.item.price, 3, 'COMMA')}"></span>
                        <span class="lead"> 원</span>
                    </td>
                </tr>
                </tbody>

                <tfoot>
                <td colspan="2" class="text-right">
                    <span class="lead" th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA')}"></span>
                    <span class="lead"> 원</span>
                </td>
                <td colspan="2" class="text-right">
                    <button class="btn btn-dark" onclick="forms['buyForm'].submit()">구매하기</button>
                </td>
                </tfoot>

            </table>
        </form>
    </div>
</div>
</html>