<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">

<!-- TODO 4 -->
<div layout:fragment="content" class="container">
    <div class="container px-5 py-5">
        <table class="table table-bordered table-responsive-sm">
            <thead class="thead-dark">
            <tr class="align-middle text-center">
                <th scope="col" style="width:8%">선택</th>
                <th scope="col">이미지</th>
                <th scope="col">이름</th>
                <th scope="col">가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item:${likeList}">
                <td class="text-center align-middle">
                    <input type="checkbox" id="customCheck1" name="item_id" th:value="${item.id}">
                </td>
                <td class="align-middle text-center"><img th:src="${item.imageUrl}" style="width: 50px;"></td>
                <td class="align-middle" th:text="${item.name}"></td>
                <td class="align-middle">
                    <span class="lead" th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')}"></span>
                    <span class="lead"> 원</span>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <td colspan="4" class="text-center">
                <button class="btn btn-dark">장바구니에 추가</button>
            </td>
            </tfoot>
        </table>
    </div>
</div>

</html>