<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">

<div layout:fragment="content">
    <h1 th:if="${reset_message}" th:text="${reset_message}"></h1>
    <div class="text-center">
        <a class="btn btn-info" href="/?type=B"> BOOK </a>
        <a class="btn btn-info" href="/?type=A"> ALBUM </a>
    </div>
    <th:block th:replace="fragment/item_list :: ItemListFragment(${itemList})"/>
</div>

</html>