<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout" th:with="activeTab='login'">


<div layout:fragment="content">
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2>비밀번호 재설정 이메일 전송</h2>
                <p class="lead">이메일을 입력하세요.</p>
            </div>

<!--            <div class="row justify-content-center">-->
<!--                <div th:if="${param.error}" class="alert alert-danger" role="alert">-->
<!--                    <p>이메일 혹은 패스워드가 정확하지 않습니다.</p>-->
<!--                    <p>-->
<!--                        <a href="#" th:href="@{/signup}">회원 가입</a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

            <div class="row g-10 justify-content-center">

                <form class="needs-validation" th:action="@{/send-reset-mail}" method="post" name="loginForm" novalidate>
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" name="email" id="email" placeholder="you@example.com" aria-describedby="email_help_text" required>
                            <div class="invalid-feedback">필수 사항입니다.</div>
                            <small id ="email_help_text" class="form-text text-muted">
                                가입 시 사용하신 이메일을 입력하세요.
                            </small>
                        </div>
                    </div>

<!--                    <div class="row g-3">-->
<!--                        <div class="col-12">-->
<!--                            <label for="password" class="form-label">Password</label>-->
<!--                            <input type="password" class="form-control" name="password" id="password" aria-describedby="password_help_text" required>-->
<!--                            <div class="invalid-feedback">필수 사항입니다.</div>-->
<!--                            <small id ="password_help_text" class="form-text text-muted">-->
<!--                                패스워드가 기억나지 않으세요? <a href="#" th:href="@{/change-password}">패스워드 변경 링크 보내기</a>&lt;!&ndash; TODO find-password 구현하기&ndash;&gt;-->
<!--                            </small>-->
<!--                        </div>-->
<!--                    </div>-->
                    <hr class="col-12 my-4">
                    <button class="w-50 btn btn-dark btn-lg" type="submit">전송</button>
                </form>
            </div>

        </main>
        <footer class="my-5 pt-5">

        </footer>
    </div>
</div>



</html>