<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout" th:with="activeTab='signup', title='Sign up'">


<th:block layout:fragment="script">
    <script th:src="@{/js/common/form-validation.js}"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</th:block>
<th:block layout:fragment="css">
    <link href="/css/common/form-validation.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .star {
            color: tomato;
        }
    </style>
</th:block>


<div layout:fragment="content">
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2>회원 가입</h2>
                <p class="lead">회원 가입을 해주세요.</p>
            </div>

            <div class="row g-10">
                <h4 class="mb-3">기본 정보</h4>
                <form class="needs-validation" th:action="@{/signup}" th:object="${signupForm}" method="post" name="signupForm" novalidate>
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="email" class="form-label">Email <span class="star">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" id="email" th:field="*{email}"
                                       placeholder="you@example.com" required>
                                <div class="invalid-feedback">
                                    이메일 정보를 입력해주세요.
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="password" class="form-label">Password <span class="star">*</span></label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" th:field="*{password}" required>
                                <div class="invalid-feedback">
                                    패스워드를 입력해주세요.
                                </div>
                            </div>
                        </div>


                        <hr class="col-12 my-4">

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="agreement" th:value="${'true'}" th:field="*{agreeTermsOfService}">
                            <label class="form-check-label" for="agreement">회원가입 약관에 동의합니다.</label>
                            <div class="invalid-feedback">약관에 동의하셔야 합니다.
                            </div>

                        </div>
                        <hr class="col-12 my-4">


                        <h4 class="mb-3 col-12">배송지 정보</h4>

                        <div class="col-2">
                            <label for="zipcode" class="form-label">우편번호</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="zipcode" th:field="*{zipcode}" readonly>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="city" class="form-label">기본주소</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="city" th:field="*{city}" readonly>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="street" class="form-label">상세주소</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="street" th:field="*{street}">
                            </div>
                        </div>
                        <div class="col-2">
                            <label class="form-label">기본주소</label>
                            <button class="w-100 btn btn-dark" type="button" onclick="search(signupForm)">주소 검색</button>
                        </div>
                        <hr class="col-12 my-4">
                        <button class="w-100 btn btn-dark btn-lg" type="submit">Continue to checkout</button>
                    </div>
                </form>
            </div>
        </main>
        <footer class="my-5 pt-5">

        </footer>
    </div>
</div>


</html>