<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--s-->
<th:block th:fragment="headerFragment">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="text-center">
            <h1 class="text-center display-4 font-italic">DOOYEONG Book Store</h1>
            <p class="lead my-3">두영 서점입니다 어서오세요~<br>소설/수필, 지식/교양, 호러/스릴러 등 </p>
        </div>
        <nav class="nav d-flex justify-content-center">
            <a href="/" type="button" class="btn btn-outline-success m-2 ">홈으로</a>
            <th:block th:if="${session.userId}">
                <a href="#" type="button" class="btn btn-outline-success m-2" th:text="${session.userId} + ' - 내 정보'"></a>
                <a href="logout.do" type="button" class="btn btn-outline-success m-2">로그아웃</a>
            </th:block>
            <th:block th:unless="${session.userId}">
                <a href="login" type="button" class="btn btn-outline-success m-2 ">로그인</a>
                <a href="#" type="button" class="btn btn-outline-success m-2 ">회원가입</a>
            </th:block>
            <a href="#" type="button" class="btn btn-outline-success m-2 ">상품 목록</a>
            <li class="nav-item dropdown">
                <button class="btn btn-outline-success m-2 nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    카테고리
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">소설/수필</a></li>
                    <li><a class="dropdown-item" href="#">지식/교양</a></li>
                    <li><a class="dropdown-item" href="#">웹툰/웹소설</a></li>
                </ul>
            </li>
            <form class="d-flex">
                <input class="form-control m-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </nav>
    </div>
</th:block>

</html>