<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--footerFragment 선언-->
<div th:fragment="ItemListFragment">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://picsum.photos/seed/picsum/100/80" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>